:root {
    --black: #1D1D1B;
    --white: #fff;
    --accent: #E22A30;
    --accentHover: #b9171c;
    --textColor: var(--black);
    --textHoverColor: #C09957;
    --secondaryBg: #F4F3F3;
    --secondaryHover: #e9e9e9;
}

// :root {
//     body._dark {
//         --textColor: var(--white);
//     }
// }